@import "./../config.css";

body {
  overflow-x: hidden;
}

/* General  */

.main-banner,
.overview__block,
.general-report__block,
.insights__block,
.insights-table {
  width: 100%;
}

a:hover {
  opacity: 0.8;
}

/* General  */

/* header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 16px 20px;
  background-color: var(--primary-dark);
  z-index: 999;
}

.header__block--left,
.header__block--right {
  display: flex;
  align-items: center;
}

.header__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 12px;
}

.header__block--right {
  gap: 0 24px;
}

.header__button--notification {
  position: relative;
}

.header__button--notification .header__notification-amount {
  position: absolute;
  top: -1px;
  right: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--feedback-helper-default);
}

.header-item__profile {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.header-item__profile-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--neutral-high-default);
}

/* General dropdown */
.header__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  transform: rotateX(-90deg);
  transform-origin: top center;
  background: var(--neutral-high-default);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.header__dropdown:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
  right: 50%;
  border-top-left-radius: 4px;
  transform: translate(-50%);
  background-color: var(--neutral-high-default);
  transform: rotate(45deg);
}

.header-item:hover .header__dropdown,
.header-item-js {
  transform: rotateX(0deg);
  transition: transform 0.4s ease-in;
}

.dropdown__link {
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-default);
}

.dropdown__link--blue {
  line-height: 24px;
  text-align: center;
  color: var(--primary-default);
}

/* Help  */
.header__dropdown-help {
  width: 200px;
  max-height: 189px;
  padding: 24px 24px 16px;
  right: 136px;
}

.header__dropdown-help .dropdown__link--blue {
  width: 152px;
  height: 57px;
  font-weight: 600;
  border-top: 1px solid var(--primary-lightest);
  padding: 12px 0;
  margin-top: 16px;
}

.dropdown__header {
  margin-bottom: 16px;
}

.dropdown__info {
  display: flex;
  justify-content: space-between;
}

.dropdown__label {
  width: 100%;
  display: flex;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-dark);
  cursor: pointer;
}

.dropdown__item:first-child .dropdown__label {
  margin-bottom: 32px;
}

.dropdown__item:first-child .dropdown__label::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 9px;
  height: 32px;
  border-left: 2px solid var(--neutral-low-dark);
}

.dropdown__input {
  width: 20px;
  height: 20px;
  left: 0;
  margin-right: 12px;
  opacity: 0;
  z-index: 99;
}

.dropdown__check {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  border: 2px solid var(--neutral-low-dark);
  border-radius: 4px;
  padding: 2px;
  transition: background-color 0.3s ease-in;
}

.dropdown__input:hover ~ .dropdown__check {
  background-color: var(--primary-lightest);
  border: 2px solid var(--primary-default);
  transition: all 0.3s ease-in;
}

.dropdown__input:checked ~ .dropdown__check {
  background-color: var(--primary-default);
  border-color: var(--primary-default);
}

.dropdown__check::after {
  content: "";
  display: none;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid var(--neutral-high-default);
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropdown__input:checked ~ .dropdown__check:after {
  display: block;
}

.header__dropdown-notification .dropdown__link {
  margin-left: 32px;
}

.header-item__profile .dropdown__title {
  width: max(100%, 176px);
  height: 42px;
  border-bottom: 1px solid var(--primary-lightest);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-low-default);
}

.header-item__profile .dropdown__title--blue {
  color: var(--primary-default);
}

/* Notification */
.header__dropdown-notification {
  width: 340px;
  padding: 24px 24px 0px;
  right: 22px;
}

/* Profile  */
.header__dropdown-profile {
  width: 224px;
  height: 173px;
  padding: 24px;
  right: 30px;
}

.header__dropdown-notification .dropdown__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-dark);
  margin-bottom: 8px;
}

.header__dropdown-notification .dropdown__text {
  max-width: 292px;
  display: flex;
  align-items: flex-start;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-medium);
  padding: 0px 60px 0px 22px;
}

.header__dropdown-notification .dropdown__topics {
  padding: 0px 0px 0px 24px;
  margin-bottom: 16px;
}

.header__dropdown-notification .dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 12px;
}

.dropdown__notify-text {
  border-top: 1px solid var(--primary-lightest);
  border-bottom: 1px solid var(--primary-lightest);
  padding: 16px 0;
}

.dropdown__info {
  margin-bottom: 16px;
}

.notify-text__icon {
  margin-right: 8px;
}

.notify-text__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-dark);
}

.notify-text__time {
  min-width: 37px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: var(--neutral-low-light);
}

.notify-text__link {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  padding-left: 32px;
  color: var(--primary-default);
}

.dropdown__button {
  width: 100%;
  height: 76px;
  display: block;
  padding: 24px 0 28px;
  margin-top: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--primary-default);
}
/* General - dropdown */

/* sidebar  */
.sidebar {
  position: sticky;
  top: 64px;
  left: 0;
  width: max-content;
  height: calc(100vh - 64px);
  background-color: var(--neutral-high-default);
  padding: 16px;
  z-index: 3;
  overflow: overlay;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.nav {
  margin-bottom: 86px;
}

.nav__list {
  width: 100%;
  display: flex;
  gap: 4px 0;
  flex-direction: column;
  align-items: stretch;
}

.nav__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0 16px;
  cursor: pointer;
}

.nav__item:hover .nav__icon--arrow path {
  stroke: var(--primary-default);
}
.nav__item--active .nav__item-content--link {
  color: var(--primary-default);
}
.nav__item-content {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-default);
}

.nav__item-content:hover {
  background-color: var(--primary-lightest);
}

.nav__icon {
  margin-right: 16px;
}

.nav__icon--arrow {
  margin-left: auto;
}

/* Nav Dropdown */
.nav__dropdown {
  width: 100%;
  margin-top: 16px;
  padding-left: 20px;
}

.nav__item--dropdown[open] .nav__icon--arrow {
  transform: rotate(180deg);
}

.nav__dropdown-item {
  width: max-content;
  padding: 12px 0 12px 28px;
  border-left: 2px solid var(--neutral-high-medium);
}

.nav__dropdown-item:hover,
.nav__dropdown-item--active,
.nav__dropdown-item--active:visited {
  border-left: 2px solid var(--primary-default);
}

.nav__dropdown-item--active .nav__dropdown--link {
  color: var(--primary-default);
}

.nav__dropdown--link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-low-default);
}

/* Nav Dropdown */
.sidebar__upgrade {
  width: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-lightest);
  border-radius: 12px;
  padding: 24px 16px 16px;
}

.sidebar__upgrade-image {
  margin-bottom: 8px;
}

.sidebar__upgrade-title {
  width: 180px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.005em;
  color: var(--neutral-low-dark);
  margin-bottom: 16px;
}

.sidebar__upgrade-button {
  width: 180px;
  height: 40px;
  background: var(--primary-default);
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--neutral-high-default);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.sidebar__upgrade-button:hover {
  background-color: var(--primary-medium);
  transition: all 0.3s ease-in;
}
/* sidebar  */

/* main */

.main {
  display: flex;
  background-color: var(--primary-lightest);
}

.main__block--right {
  width: calc(100% - 244px);
  height: 100%;
  padding: 17px 32px 32px;
}

/* banner  */
.main__banner {
  display: flex;
  align-items: center;
  background-color: var(--primary-default);
  border-radius: 8px;
  padding: 20px 20px 20px 32px;
  margin-bottom: 25px;
}

.banner__icon {
  min-width: 32px;
  margin-right: 16px;
}

.banner__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--neutral-high-default);
  margin-right: 32px;
}

.banner__button {
  width: 224px;
  height: min(100%, 40px);
  border: 2px solid var(--neutral-high-default);
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--neutral-high-default);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.banner__button:hover {
  opacity: 0.8;
}

/* banner  */
.overview__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overview__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--neutral-low-dark);
}

.overview__list {
  width: 100%;
  display: flex;
  gap: 0 8px;
  margin: 16px 0;
}

.overview__item {
  min-width: max-content;
  display: flex;
  align-items: center;
  height: 32px;
  background-color: var(--neutral-high-default);
  border: 2px solid var(--neutral-high-default);
  border-radius: 8px;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 12px;
  color: var(--neutral-low-default);
}

.overview__item:hover:not(.overview__item--active),
.overview__item--dropdown:hover .overview__arrow-icon path {
  border: 2px solid var(--primary-default);
  color: var(--primary-default);
  stroke: var(--primary-default);
}

.overview__item--active {
  background: var(--primary-default);
  color: var(--neutral-high-default);
  border: 2px solid var(--primary-default);
}

.overview__item--dropdown {
  gap: 0 4px;
}

.overview__text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-medium);
}

.overview__text--blue {
  color: var(--primary-default);
}

/* General Report */
.general-report__block {
  margin-top: 15px;
  padding: 24px;
  background-color: var(--neutral-high-default);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.general-report__block--left {
  width: 100%;
}

.general-report__title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--neutral-low-dark);
  margin-bottom: 16px;
}

.general-report__list {
  display: flex;
  align-items: center;
  gap: 0 24px;
  border-bottom: 1px solid var(--neutral-high-light);
}

.general-report__select {
  position: relative;
  width: 280px;
  height: 40px;
  margin-top: 16px;
}

.select-block {
  appearance: none;
  width: calc(280px + 24px + 8px);
  height: 40px;
  padding: 8px 56px 8px 16px;
  background-color: var(--neutral-high-default);
  border: 1px solid var(--neutral-low-light);
  border-radius: 8px;
}

.select-block:focus,
.select-block:hover {
  outline: none;
  border: 2px solid var(--primary-default);
  padding-left: 15px;
}

.select-block option {
  padding: 20px;
}

.select-block__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

.select-block:focus-visible ~ .select-block__icon {
  top: 9px;
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}

.general-report__select {
  display: none;
}

.general-report__item {
  height: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-medium);
  padding-bottom: 12px;
  cursor: pointer;
}

.general-report__item--active {
  border-bottom: 2px solid var(--primary-default);
  color: var(--primary-default);
}

.general-report__item:hover:not(.general-report__item--active) {
  border-bottom: 2px solid var(--neutral-low-dark);
}

.general-report__data,
.general-report__data-item,
.general-report__info {
  display: flex;
  align-items: center;
}

.general-report__data,
.general-report__data-item {
  gap: 0 16px;
}

.general-report__data {
  margin: 24px 0 48px;
}

.general-report__data-item {
  width: max(350px, 350px);
  min-width: max-content;
  height: 72px;
  flex-grow: 1;
  background: var(--neutral-high-default);
  border: 2px solid var(--primary-lightest);
  border-radius: 12px;
  padding: 8px;
}

.general-report__info {
  flex-direction: column;
  align-items: flex-start;
}

.general-report__name,
.general-report__value {
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
}

.general-report__name {
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-low-medium);
}

.general-report__value {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-low-default);
}

.general-report__block--right {
  width: 340px;
  background: var(--neutral-high-default);
  border: 2px solid var(--primary-lightest);
  border-radius: 8px;
  padding: 24px;
  flex-direction: column;
  margin-left: 64px;
}

.general-report__resellers-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-low-dark);
  gap: 0 12px;
  margin-bottom: 24px;
}

.resellers-row {
  display: flex;
  align-items: center;
  gap: 0 16px;
  width: 100%;
}

.resellers__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.resellers__logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-lightest);
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-default);
}

.resellers__container {
  width: 100%;
}

.resellers__name {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--neutral-low-dark);
}

.resellers__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resellers__orders {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-medium);
}

.resellers__percentage--positive,
.resellers__percentage--negative {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  display: flex;
  align-items: center;
}

.resellers__percentage--positive {
  color: var(--feedback-success-medium);
}

.resellers__percentage--negative {
  color: var(--feedback-helper-medium);
}

.resellers__container-footer {
  width: 100%;
  height: 65px;
  border-top: 2px solid var(--primary-lightest);
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.resellers__button {
  width: 98px;
  height: 40px;
  border: 1.5px solid var(--primary-default);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-default);
}

.resellers__button:hover {
  opacity: 0.8;
}

.chart-sales,
.chart-orders {
  width: 100%;
}

.chart-sales,
.chart-orders,
.chart-resellers {
  margin: 48px 0 24px;
}

.chart-resellers {
  width: 90%;
  max-width: 680px;
}
/* General Report */

/* Insights */
.insights__block {
  background: var(--neutral-high-default);
  border-radius: 8px;
  padding: 24px;
  margin-top: 32px;
}

.insights__title {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 32px;
}

.insights-table {
  width: 100%;
  border-collapse: collapse;
}

.insights-table__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--neutral-low-medium);
  margin-bottom: 24px;
}

.insights-table__thead {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 0;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--neutral-high-light);
}

.insights-table__trow {
  width: 100%;
  text-align: left;
}

.insights-table__thead-column {
  max-width: max-content;
  padding-right: 16px;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-low-medium);
}

.insights-table__thead-column--products {
  width: max(100%, 652px);
}

.insights-table__thead-column--num-products {
  width: 128px;
}

.insights-table__thead-column--value {
  width: 96px;
}

.insights-table__tbody {
  width: 100%;
}

.insights-table__tbody-trow {
  width: 100%;
  height: 56px;
  padding: 8px 16px;
  margin-bottom: 4px;
  border-radius: 8px;
}

.insights-table__tbody-trow--fill {
  background-color: var(--primary-lightest);
  outline: 1px solid var(--primary-lightest);
}

.insights-table__tbody-item {
  width: max-content;
  padding-right: 16px;
}

.tbody-item__content {
  display: flex;
  align-items: center;
}

.tbody-item__container {
  display: flex;
  align-items: center;
}

.tbody-item__element,
.tbody-item__element--mobile {
  width: max(24px);
  display: inline-flex;
  justify-content: center;
  color: var(--primary-default);
  margin: 0 16px;
}

.tbody-item__element--mobile {
  display: none;
}

.tbody-item__title {
  width: 100%;
  max-width: 596px;
  display: inline-flex;
  flex-grow: 2;
  align-items: center;
  padding: 12px 0;
  gap: 0 16px;
  font-size: 12px;
  line-height: 16px;
  color: var(--neutral-low-default);
}

/* .tbody-item__image {
  width: 40px;
  height: 40px;
} */

.tbody-item__value {
  width: max-content;
  font-size: 12px;
  line-height: 20px;
  color: var(--neutral-low-default);
}

.tbody-item__value--id,
.tbody-item__value--price {
  min-width: max-content;
}

.view-products__block {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}

.view-products__text {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: var(--neutral-low-default);
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.view-products__select {
  width: 64px;
  height: 32px;
  margin: 0 8px;
  padding: 8px 0 8px 12px;
  background: transparent;
  border: 1px solid var(--neutral-low-light);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  appearance: none;
  z-index: 7;
}

.view-products__select:hover,
.view-products__select:hover ~ .view-products__icon path {
  border: 2px solid var(--primary-default);
  padding: 7px 0 8px 11px;
  stroke: var(--primary-default);
}

.view-products__select:focus-visible {
  outline-color: var(--primary-default);
}

.view-products__select:focus-visible ~ .view-products__icon {
  top: 5px;
  transform: rotate(180deg);
  stroke: var(--primary-default);
  transition: all 0.4s ease-in;
}

.view-products__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 124px;
}

/* .view-products__text:before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  right: 135px;
  top: 9px;
  transform: rotate(45deg);
  border-right: 3px solid var(--neutral-low-medium);
  border-bottom: 3px solid var(--neutral-low-medium);
  border-radius: 2px;
} */

.view-products__paging {
  width: 152px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 8px;
}

.view-products__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.view-products__item {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
}

.view-products__item--nav,
.view-products__item:hover:not(.view-products__item--active, .view-products__item--nav) {
  background-color: var(--primary-lightest);
  color: var(--primary-default);
  transition: all 0.3s ease-in;
}

.view-products__item--nav:hover,
.view-products__item--nav:hover path {
  background-color: var(--primary-default);
  stroke: var(--primary-lightest);
}
.view-products__item--active {
  background-color: var(--primary-default);
  color: var(--neutral-high-default);
}
/* Insights */
/* main */
